// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.central-wrapper {
max-width: 1126px;
margin-left: 145px;
margin-right: 129px;
}

.nav {
display: flex;
}