// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  padding-top: 102px;
  padding-bottom: 95px;
  border-top: 1px solid $color-btn-sign-in-border;

  &__wrapper {
    display: flex;
    justify-content: flex-start;    
  }
  
  &__logo {
    max-width: 205px;             
  }
  
  &__logo-text {
    padding-top: 5px;
    padding-left: 5px;
  }
  
  &-first {
    margin-left: 139px;
  }
  
  &-second {
    margin-left: 140px;
    margin-right: 82px;
  }

  &-link:hover {
    text-decoration: underline;        
  }
  
  &__nav {
    max-width: 205px;       

    .footer__nav-list {            
      padding-left: 0;
    }

    .footer-link {
      font-size: 16px;
      line-height: 35px;

      &-item {
        color: $color-little-text;                
      }
    }      

    .nav__title {
      @extend .footer-bold;
      @include font-size-lh-color;            
      margin-top: 0;
      margin-bottom: 35px;           
    }              
  }

  &__logo-img {
    position: relative;
    bottom: 3px;
    right: 1px;
  }
  
  &__block-input {
    max-width: 325px;
  }
}

.input__title {
  @extend .footer-bold;
  @include font-size-lh-color;       
  margin: 0;
  max-width: 280px;
  margin-bottom: 32px;     
}

.telephone {
  @extend .footer-bold;
  @include font-size-lh-color(16px, 28px,  $color-text-footer);   
  margin-bottom: 21px;    
  border-radius: 4px;
  border: 1px solid  $color-btn-sign-in-border;
  width: 325px;
  height: 48px;
  padding: 15px;    
  
  &::placeholder {
    color: $color-text-footer;
    opacity: 0.9;
  }    
}

@media (max-width: 1280px) {
  .footer {
    padding-top: 20px;

    &__wrapper{
        flex-wrap: wrap;             
    }

    &__nav{
        margin: auto;
    }

    &__logo {
        display: none;
    }

    .nav__title {                
      margin-top: 0;
      margin-bottom: 0;               
    }

    &__nav-list {
      margin-top: 0;
    }

    .footer-link {
      font-size: 14px;
      line-height: 24px;
    }

    .input__title {
      padding-top: 10px;
      margin-bottom: 5px;
      line-height: 24px;
    }
  }
}

@media (max-width: 920px) {
  .footer__wrapper {
    display: grid;
    justify-content: space-between;    
    grid-template-areas: "nav1 nav2 tel"                         
  }

  .footer-first {
    grid-area: nav1;
  }

  .footer-second {
    grid-area: nav2;
  }

  .footer__block-input {
    grid-area: tel;    
  }

  .input__title {
    display: none;
  }

  .telephone {
    width: auto;
    max-width: 250px;
  }
}

@media (max-width: 640px) { 
  .footer__wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nav1 nav2"
                         "tel tel";
  }
  .footer__nav {
    max-width: 70vw;
  }

  .footer__block-input {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .footer__button-sign-up {
    margin-left: 4vw;
    display: block;    
  }
}

@media (max-width: 480px) {
  .telephone {
    max-width: 30vw;
  }
}  
