// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
    padding-top: 102px;
    border-top: 1px solid #BCD0E5;
}

.footer__wraper{
    display: flex;
    justify-content: space-between;    
}

.footer__logo{
    max-width: 205px;      
}

.footer__nav{
    max-width: 205px;
    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        font-size: 16px;
        line-height: 35px;
    }
    .nav__title{
        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 30px;
        color: $colorText;
    }
    a{
        color: $colorLitllText;
    }
}

.input__title{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    color: $colorText;
}

.telephone {
    color:#BCD0E5;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 21px;
    border-radius: 4px;
    border: 1px solid  #BCD0E5;
}

.footer__nav.nav__button-sign-up {
    width: 131px;
}
