// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  min-height: 496px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 136px;

  &__left {
    max-width: 521px;
    text-align: left;
    padding-right: 62px;

      &-paragraph {     
        @extend .normal-basic;      
        @include font-size-lh-color(18px, 28px, $color-little-text);     
        max-width: 450px;
        padding-bottom: 36px; 
        margin-bottom: 22px;          
      }   
  }

  &__left-play {
    margin-left: 30px;
  }

  &__left-buttons {
    height: 53px;  
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &__left-play-link {
    color: $color-button; 

    &:hover {
      filter: drop-shadow(0 0 4px $color-button);    
    }
  }

  &__right {
    max-width: 605px;

    &-img {
      object-fit: scale-down;
      position: relative;
      top: 30px;
    }
  }
}

.primary-title {
  padding-top: 84px;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  color: $color-text;
}

.watch-video {
  text-decoration: underline;
  margin-left: 5px;  
  font-weight: 600;
  font-size: 16px;  
}
