body {
  box-sizing: border-box;  
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;    
    font-family: $font-family-basic;
    background-color: $color-background;
}

.central-wrapper {
max-width: 1126px;
margin-left: 145px;
margin-right: 129px;
}

.nav {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 78px;
}

.logo {
    margin-right: 12px;
    max-width: 30px;
    max-height: 30px;
    
}

.logo-text {
    margin-right: 280px;
    max-width: 143px;
    max-height: 29px;
}

.nav__links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding-right: 12px;
    
    

    li {
        font-family: $font-family-basic;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;        
        padding-right: 27px;

        a {
            color: $color-text;
        }
    }
}

.nav__button-sign-in {
  width: 102px;
  height: 46px;
  margin-left: 14px;
  margin-right: 14px;
  font-family: $font-family-basic;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;  
  color: $color-btn-sign-in;
  background-color: $color-background;
  border: 1px solid $color-btn-sign-in-border;   
}

.nav__button-sign-up {
  width: 110px;
  height: 46px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex: 0 0 auto;
  border-radius: 4px;  
}

.button:hover {
  cursor: pointer;
  filter: opacity(0.8);
}

.button--yellow {
  font-family: $font-family-basic;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: $color-button-text;  
  background: $color-button;
  border-color: $color-button;
}
