$colorButton: #ff9900;
$colorBackground: #F2F2F2;
$colorText:#2F281E;
$colorLitllText: #544837;

body{
  box-sizing: border-box;
  // background-color: #ddd;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;    
    font-family: 'Poppins', sans-serif;
    background-color: $colorBackground;
}

.central-wrapper {
max-width: 1126px;
margin-left: 145px;
margin-right: 129px;
}

.nav {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
min-height: 78px;
}

.logo {
    margin-right: 12px;
    max-width: 30px;
    max-height: 30px;
    
}

.logo-text{
    margin-right: 280px;
    max-width: 143px;
    max-height: 29px;
}

.nav__links{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding-right: 12px;
    
    

    li{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;        
        padding-right: 27px;
        a{
            color: #2F281E;
        }
    }
}

.nav__button-sign-in {
  width: 102px;
  height: 46px;
  margin-left: 14px;
  margin-right: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  
  color: #173A56;
  border: 1px solid #BCD0E5
}

.nav__button-sign-up{
  width: 110px;
  height: 46px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex: 0 0 auto;
  border-radius: 4px;  
}

.button:hover{
  cursor: pointer;
  filter: opacity(0.8);
}

.button--yellow{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: $colorButton;
}
