// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  @include font-weight($button-weight);
  @include font-size-lh-color(16px, 24px, $color-button-text);
  display: flex;
  justify-content: center;
  align-items: center;  
  flex: 0 0 auto;
  border-radius: 4px;    
  background: $color-button;
  border: 0.5px solid $color-btn-sign-in-border; 
  border-color: $color-button;
  border-style: solid;
  // text-transform: capitalize; //in  footer "Sign up Now" it's correctly?
    
  &:hover {
        cursor: pointer;
        background-color: $color-button-text;
        color: $color-button;
        box-shadow:(0 0 2px 1px $color-button);             
    }
      
  &--secondary {
    color: $color-btn-sign-in;
    background-color: $color-background;
    border: 1px solid $color-btn-sign-in-border;        

    &:hover {
      box-shadow:(0 0 2px 1px $color-text-footer);
      color: $color-button-text;
      background-color: $color-text-footer;
    }
  }
}  

  .nav__button-sign-in {   
    padding: 12px 22px 9px 24px;
    margin-left: 16px;
    margin-right: 15px; 
    margin-bottom: 2px;  
  }
  
  .nav__button-sign-up {  
    padding: 12px 22px 8px 24px;
    margin-bottom: 2px; 
  }

  .footer__button-sign-up {   
    padding: 8px 16px 4px 13px;
}
