// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@mixin font-size-lh-color ($fsz: 20px, $lh: 30px, $color-txt: $color-text){
    font-size: $fsz;
    line-height: $lh;
    color: $color-txt;    
}