// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors
$color-button: #ff9900;
$color-button-text: #FFFFFF;
$color-background: #FFFFFF;
$color-text:#2F281E;
$color-little-text: #544837;
$color-text-footer: #BCD0E5;
$color-btn-sign-in: #173A56;
$color-btn-sign-in-border: #BCD0E5;
$color-point:#979797;

//fonts
$font-family-basic: "Poppins", sans-serif;
$font-family-footer: "Avenir", sans-serif;
$font-weight-average: 500;
$font-weight-title: 700;
$card-h3: 600;
