// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors
$color-button: #ff9900;
$color-button-text: #FFFFFF;
$color-background: #FFFFFF;
$color-text:#2F281E;
$color-little-text: #544837;
$color-text-footer: #BCD0E5;
$color-btn-sign-in: #173A56;
$color-btn-sign-in-border: #BCD0E5;
$color-point:#979797;

//fonts
$font-family-basic: "Poppins", sans-serif;
$font-family-footer: "Avenir", sans-serif;
$font-weight-average: 500;
$font-weight-title: 700;
$card-weight-title: 600;
$button-weight: 600;

//screen-size
$screen-XXL: 1400px;
$screen-XL: 1280px;
$screen-big: 1100px;
$screen-intermediate: 1000px;
$screen-L: 948px;
$screen-M: 820px;
$screen-S: 780px;
$screen-small: 640px;
$screen-XS: 480px;
$screen-XXS: 380px;
